@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  display: flex;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: white;
  background-color: #181A1B;
}

.container {
  max-width: 60%;
  padding: 1em;
  margin: 0 auto;
}

.page-title {
  text-align: center;
  font-size: 2.8em;
}

.section-cards {
  display: flex;
}

.card {
  background-color: #1c1e1f;
  padding: 2em;
  margin: 1em;
  border-radius: 1em;
  border: 1px solid #409cf5;
}
.card h2 {
  color: #409cf5;
}
